header {
    background-color: #77acf2;
    color: #faf7f7;
    width: 960px;
    height: 50 px;
}

body {
    font-family: serif;
    background-color: #ffffff;
    color: #020202;
    width: 960px; 
    margin: auto;
}


#nav {
    list-style: none;
    overflow: hidden;
}

#nav li {
    width: 140px;
    height: 50px;
    float: right;
}

#nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size:20px;
}

footer {
    background-color: #77acf2;
    color: #020202;
    
}