header {
    background-color: #77acf2;
    color: #faf7f7;
    width: 100vw;
    height: auto;
    margin: 0 ;
    text-align: center;
    font-size: 20px;
}

body {
    font-family: serif;
    background-color: #ffffff;
    color: #020202;
    margin: auto;
}

main{
    width: 960px; 
    font-size: 20px;
    margin: auto;
}

#nav {
    list-style: none;
    overflow: hidden;
    margin: 0; 
    padding: 0 ;
}

#nav li {
    width: 140px;
    height: 50px;
    float: right;
}

#nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

footer {
    background-color: #77acf2;
    color: #020202;
    width: 100vw;
    text-align: center;
    margin: 0 ;
}

.section_title {
    color: #77acf2;
}

.intro {
    text-align: center;
}
.pdf-button {
    display: inline-block;
    padding: 2px 3px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #77acf2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pdf-button:hover {
    background-color: #5c8dcf;
}

/* メディアクエリ: スマホ用（画面幅600px以下の場合） */
@media (max-width: 600px) {
    body {
        width: 100%;  /* スマホでは横幅いっぱいに */
        margin: 0;
        padding: 0;
        font-size: 13px ;
    }

    .intro {
        text-align: right;
    }

    header {
        width: 100%;
        height: auto; /* 高さを自動調整 */
        padding: 10px 0;
        font-size: 15px;
    }
    #nav {
        list-style: none;
        margin: 0; 
        padding: 0 ;
    } 
    
    #nav li {
        width: 100px;
        height: 50px;
        float: right;
    }    
    #nav li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
    }

    .pdf-button {
        display: inline-block;
        padding: 2px 3px;
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
        background-color: #77acf2;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    
    .pdf-button:hover {
        background-color: #5c8dcf;
    }

    footer {
        width: 100%;
        text-align: center;
        margin: 0 ;
    }
}