.profile {
    display: flex;
    align-items: center; /* 垂直中央寄せ */
    justify-content: center; /* 水平方向中央寄せ（必要に応じて） */
    gap: 20px; /* 画像と名前の間のスペース */
}

a {
    color:  #094da6; /* 好きな色に変更 */
    text-decoration: none; /* 下線を消す場合 */
}

.mypicture {
    border-radius: 60%; /* 丸くしたい場合（任意） */
}

header {
    background-color: #77acf2;
    color: #faf7f7;
    width: 100vw;
    height: auto;
    margin: 0 ;
    text-align: center;
    font-size: 20px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffffa8;
    color: #020202;
    margin: auto;
}

main{
    width: 960px; 
    font-size: 20px;
    margin: auto;
}

#nav {
    list-style: none;
    overflow: hidden;
    margin: 0; 
    padding: 0 ;
}

#nav li {
    width: 140px;
    height: 50px;
    float: right;
}

#nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

footer {
    background-color: #77acf2;
    color: #fefcfc;
    width: 100vw;
    text-align: center;
    margin: 0 ;
}

.section_title {
    color: #77acf2;
}

.intro {
    text-align: center;
}
.pdf-button {
    display: inline-block;
    padding: 2px 3px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #77acf2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pdf-button:hover {
    background-color: #5c8dcf;
}

/* メディアクエリ: スマホ用（画面幅600px以下の場合） */
@media (max-width: 600px) {
    body {
        width: 100%;  /* スマホでは横幅いっぱいに */
        margin: 0;
        padding: 0;
        background-color: #ffffffa8;
    }
    
    main {
        width: 100%;
        height: auto;
        font-size: 15px;

    }

    header {
        width: 100%;
        height: auto; /* 高さを自動調整 */
        padding: 15px;
        font-size: 15px;
    }
    #nav {
        list-style: none;
        margin: 0; 
        padding: 0 ;
    } 
    
    #nav li {
        width: 100px;
        height: 50px;
        float: right;
    }    
    #nav li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
    }

    .pdf-button {
        display: inline-block;
        padding: 2px 3px;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        background-color: #77acf2;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    
    .pdf-button:hover {
        background-color: #5c8dcf;
    }

    footer {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}